@import "./Variables.scss";
// Base
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
}
::-webkit-scrollbar{
  width: .8rem;
}
::-webkit-scrollbar-track{
  border: 1px solid #313131;
  background-color: $body-color;
}
::-webkit-scrollbar-thumb{
  background-color: $text-color;
}
h1,
h2,
h3 {
  color: $title-color;
  font-weight: $font-semi-bold;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.title {
  margin: 4rem 0;
  text-align: center;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  h1 {
    padding-top: 4rem;
    text-align: center;
    margin: 2rem;
  }
}
.msg {
  background-color: red;
  padding: 1rem;
  margin: 2rem 0;
}
button {
  cursor: pointer;
  padding: 0.3rem 1.7rem;
  margin: 0.35rem;
  border: 1px solid $second-color;
  background-color: transparent;
  color: $white-color;
  font-size: $h3-font-size;
  font-weight: $font-semi-bold;
  transition: all 0.35s;
  &:hover {
    cursor: pointer;
    transition: all 0.35s;
    background-color: $second-color;
    color: $white-color;
    transform: scale(1.01);
  }
}
img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 40rem;
  filter: drop-shadow(1px 1px 0.09rem $text-color-ligth);
  transition: all 0.3s;
  &:hover {
    transform: scale(1.04);
    transition: all 0.15s;
    filter: drop-shadow(1px 1px 0.2rem $text-color);
  }
}
.button {
  cursor: pointer;
  padding: 0.3rem 1.7rem;
  margin: 0.35rem;
  border: 1px solid $second-color;
  background-color: transparent;
  color: $white-color;
  font-size: $h3-font-size;
  font-weight: $font-semi-bold;
  transition: all 0.35s;
  &:hover {
    cursor: pointer;
    transition: all 0.35s;
    background-color: $second-color;
    color: $white-color;
    transform: scale(1.01);
  }
}
input {
  color: $white-color;
  caret-color: $second-color;
  accent-color: $second-color;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
