@import './Variables.scss';

.section {
  @include flex-center;
  margin: 2rem 0 0 0;

  .form {
    @include flex-center-column;
    place-items: center;
  }

  .modal-container {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, hsla(204, 100%, 50%, 0.1) 0%, hsla(192, 100%, 50%, 0.1) 100%);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .modal {
      max-width: 450px;
      height: min-content;
      padding: 10%;
    }

    .img-modal {
      max-width: 1200px;
      display: grid;
      place-items: center;
      grid-template-columns: 65% 35%;
      // grid-template-rows: 50%;
      padding: 2%;
      height: min-content;
      align-self: center;

      & > select {
        color: $white-color;
      }
    }

    .modal,
    .img-modal {
      position: relative;
      width: 90vw;
      align-self: center;
      background-color: $navbar-color;
      border: 5px solid $dark-green-color;
      border-radius: 0.8rem;

      .img {
        width: 100%;
      }

      .modal-content {
        display: grid;
        gap: 1.5rem;
        flex-basis: 150px;
        width: 100%;

        fieldset {
          display: grid;
          font-size: $h1-font-size;
          gap: 1rem;
          border: none;
          padding: 3rem 0 0 0;

          legend {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;

            & > svg {
              cursor: pointer;
            }
          }

          .input-box {
            flex-grow: 1;
            flex-basis: calc(100% / 3 - 2rem);
            position: relative;
            width: 100%;

            & select {
              border: 3px solid $dark-blue-color;
              font-size: $h3-font-size;
              padding: 1rem 0.6rem;
              color: $white-color;
              opacity: 0.6;
              border-radius: 0.4rem;
              background-color: transparent;
              outline: none;
              width: 100%;
              transition: all 0.3s;

              option {
                font-size: $h3-font-size;
                background-color: $navbar-color;
                color: $white-color;
              }

              &:focus {
                color: $light-blue-color;
                border: 3px solid $light-blue-color;
                border-radius: 0.6rem;
              }
            }

            label {
              position: absolute;
              top: 0;
              left: 0;
              padding: 1rem;
              pointer-events: none;
              transition: 0.3s;
              font-size: $h3-font-size;
              font-weight: 400;
              background-color: transparent;
              color: $white-color;
              opacity: 0.6;
            }

            input,
            input:valid {
              width: 100%;
              padding: 1rem;
              background-color: transparent;
              color: $white-color;
              border: 3px solid $dark-blue-color;
              border-radius: 0.4rem;
              outline: none;
              font-size: $h3-font-size;
              transition: all 0.3s;

              &:focus {
                border: 3px solid $light-blue-color;
                border-radius: 0.6rem;
              }

              &:focus ~ label,
              &:valid ~ label {
                transform: translateX(1rem) translateY(-0.45rem);
                color: $light-blue-color;
                padding: 0 1rem;
                border-left: 1px solid $light-blue-color;
                border-right: 1px solid $light-blue-color;
                background-color: $navbar-color;
                font-size: $small-font-size;
                opacity: 1;
              }

              &.validate {
                border-color: $red-color !important;
                animation: invalid 0.3s 1;

                & ~ label {
                  border-color: $red-color !important;
                  color: $light-gray-color !important;
                }
              }
            }
          }
        }

        button {
          margin: 0;
          width: auto;
          place-self: center;
        }
      }
    }
  }
}

@keyframes invalid {
  25% {
    transform: translate(3px, 0);
  }

  50% {
    transform: translate(-3px, 0);
  }

  75% {
    transform: translate(3px, 0);
  }
}
