@import "./Variables.scss";

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $h2-font-size;
  font-weight: $font-semi-bold;

  div {
    @include flex-center-column;
    gap: 1rem;
  }

  .select {
    .brands {
      background-color: $container-color;
      color: $white-color;
      font-size: $h3-font-size;
      border: 1px solid $green-color;
      padding: 0.3rem 0.2em;
      border-radius: .2rem;
      cursor: pointer;

      &::-ms-expand {
        display: none;
      }
    }
  }
}
