@import "./Variables.scss";

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.lds-spinner {
  color: $white-color;
  display: inline-block;
  position: relative;
  width: $spinner-size;
  height: $spinner-size;
  margin: $spinner-margin;

  div {
    transform-origin: 40px 40px;
    animation: lds-spinner $spinner-animation-duration linear infinite;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: 3px;
      left: 37px;
      width: 6px;
      height: 18px;
      border-radius: 20%;
      background: $white-color;
    }

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        @include spinner-div($i);
      }
    }
  }
}
