@import "./Variables.scss";

.main {
  display: grid;
  place-items: center;
}

.error {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.section {
  @include flex-center;
  gap: 2rem;

  .form {
    margin: 2rem 0 0 0;
  }
}

.motoList {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  margin: 2rem 0;
  gap: 2rem;

  li {
    padding: 3rem;
    gap: 1rem;
    display: grid;
    place-items: center;
    background-color: $container-color;

    .button {
      @include flex-center;
      border: none;
      padding: 1rem 3rem;
      background: $dark-blue-color;
      gap: 0.5rem;
      margin: 0;

      &:hover {
        background: $light-blue-color;
      }
    }
  }
}
