@import './Variables.scss';

.header {
  width: 100%;
  background-color: $navbar-color;
  box-shadow: 0 0.25rem 1.8rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
}

.nav {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.nav__logo,
.nav__toggle {
  @include flex-center;
  column-gap: 0.25rem;
  font-size: $h2-font-size;
  color: $white-color;
  > * {
    font-size: $h1-font-size;
    margin: 0 1rem 0 0;
  }
  &:hover {
    color: $light-green-color;
  }
}

.nav__list {
  @include flex-center;
  font-size: $h3-font-size;

  .nav__item {
    border-right: 1px solid $body-color;
    .active {
      background-color: $green-color;
      color: $body-color;
      color: $white-color;
      border-radius: 0.2rem;
      padding: 0.4rem 2rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $container-color;
        border-radius: 0.4rem;
      }
    }

    .nav__link {
      padding: 0.4rem 2rem;
      transition: all 0.2s ease-in-out;
      color: $white-color;
      font-weight: $font-medium;
      &:hover {
        color: $light-green-color;
      }
    }
    &:last-child {
      border-right: none;
    }
  }
}

// responsive
.mobile {
  display: none;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .mobile {
    height: $header-height;
    display: grid;
    place-items: center;
    .nav__toggle {
      position: absolute;
      right: 2rem;
      cursor: pointer;
    }
    .nav-transition-enter {
      opacity: 0;
    }
    .nav-transition-enter-active {
      opacity: 1;
      transition: opacity 150ms;
    }
    .nav-transition-exit {
      opacity: 1;
    }
    .nav-transition-exit-active {
      opacity: 0;
      transition: opacity 150ms;
    }
    .nav__menu {
      position: absolute;
      top: $header-height;
      width: 95%;
      right: 2.5%;
      left: 2.5%;
      background-color: $black-color;

      backdrop-filter: blur(10rem);
      .nav__list {
        backdrop-filter: blur(10rem);
        height: 45vh;
        flex-direction: column;
        justify-content: space-around;
        .nav__item {
          display: flex;
          width: 80%;
          border-bottom: 1px solid $body-color;
          border-right: none;
          .active {
            background-color: $green-color;
            font-weight: $font-medium;
            width: 100%;
            padding: 0.6rem;
            &:hover {
              background-color: lighten($container-color, 40);
            }
          }
          .nav__link {
            width: 100%;
            padding: 0.6rem;
            &:hover {
              border: none;
              color: $white-color;
            }
          }
        }
      }
    }
  }
}
