@import "./Variables.scss";

.header {
  width: 100%;
  background-color: $navbar-color;
  box-shadow: 0 0.25rem 1.8rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(99rem);
  -webkit-backdrop-filter: blur(99rem);
  border: 1px solid rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
}

.nav {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.nav__logo,
.nav__toggle {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: $font-medium;
  font-size: 1.25rem;
  color: $title-color;
  > * {
    font-size: 2rem;
    margin: 0 1rem 0 0;
  }
  &:hover {
    color: $second-color;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  backdrop-filter: blur(9rem);
  .nav__item {
    border-right: 1px solid $body-color;
    padding: .4rem 2rem;
    .active {
      padding: .4rem 2rem;

      color: $body-color;
      background-color: hsl(220, 9%, 75%);
      font-weight: $font-medium;
      &:hover {
        color: $second-color;
        background-color: hsl(0, 0%, 27%);
      }
    }

    
    .nav__link {
      display: block;
      transition: all 0.1s ease-in-out;
      color: $title-color;
      font-weight: $font-medium;
      &:hover {
        border-bottom: solid $text-color-ligth 1px;
        color: $second-color;
      }
    }
    &:last-child {
      border-right: none;
    }
  }
}

// responsive
.mobile {
  display: none;
}

.navbar {
  height: calc($header-height) + 1.5rem;
}

.nav__link {
  font-size: $normal-font-size;
  text-transform: initial;
}

@media (max-width: 767px) {
  .navigation {
    display: none;
  }

  .mobile {
    height: $header-height;
    display: grid;
    place-items: center;
    .nav__toggle {
      position: absolute;
      right: 2rem;
      cursor: pointer;
    }
    .nav-transition-enter {
      opacity: 0;
    }
    .nav-transition-enter-active {
      opacity: 1;
      transition: opacity 250ms;
    }
    .nav-transition-exit {
      opacity: 1;
    }
    .nav-transition-exit-active {
      opacity: 0;
      transition: opacity 250ms;
    }
    .nav__menu {
      ul {
        background: $white-color;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: $header-height;
        width: 95%;
        right: 2.5%;
        left: 2.5%;
        padding: 1rem;
        gap: 1rem;
        li {
          a {
            color: #000;
          }
        }
      }
    }
  }
}
