@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

$header-height: 3.5rem;
// Color
$first-color: hsl(219, 69%, 56%);
$first-color-alt: hsl(219, 69%, 52%);
$title-color: hsl(219, 8%, 95%);
$text-color: hsl(219, 8%, 75%);
$text-color-ligth: hsl(219, 4%, 55%);
$white-color: #fff;
$navbar-color: hsl(219, 4%, 7%);
$body-color: hsl(219, 4%, 12%);
$container-color: hsl(219, 8%, 95%);
$second-color: rgb(11, 255, 11);
// Font & typography
$body-font: "Exo", sans-serif;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;
// Font weight
$font-medium: 500;
$font-semi-bold: 600;
// z index
$z-tooltip: 10;
$z-fixed: 100;
// Responsive typography
@media screen and (min-width: 968px) {
  :root {
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: 0.875rem;
    $smaller-font-size: 0.813rem;
  }
}
