@import './Variables';

.main {
  display: grid;
  place-items: center;
}

.error {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.motoList {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  margin: 2rem 0;
  gap: 2rem;

  li {
    padding: 3rem;
    gap: 1rem;
    display: grid;
    place-items: center;
    background-color: $container-color;

    .button {
      @include flex-center;
      border: none;
      padding: 1rem 3rem;
      background: $dark-blue-color;
      gap: 0.5rem;
      margin: 0;

      &:hover {
        background: $light-blue-color;
      }
    }
  }
}

.confirmation-dialog {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  max-width: 400px;
  margin: 0 auto;

  h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 16px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 8px;
    }
  }
}
